.string {
  width: 50vmin;
  height: 8vmin;
  margin: 4vmin;
  transition: 0.3s ease;
  background: lightgreen;
}

.string.darker {
  background: #343434;
  filter: blur(3vmin);
}

#btn {
  position: absolute;
  padding: 5vmin 10vmin;
  color: #d6d6d6;
  font-size: 8vmin;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  background: #3749a2;
  border-radius: 5%;
  top: 5vmin;
  left: 80vmin;
  transition: 0.3s ease;
  cursor: pointer;
}

#btn:hover,
#btn:active {
  border-radius: 50%;
  box-shadow: 1vmin 1vmin 1vmin grey;
}

#btn.darker {
  border-radius: 0;
  background: #343434;
  filter: blur(3vmin);
}